In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")
df1 = pd.read_csv("../data/HistoricalData.csv", parse_dates=["Date"])
# process dataframe from kaggle
df = df.dropna()
# timestamp to datetime
df["DateTime"] = pd.to_datetime(df['Timestamp'],unit='s')
df["Date"] = df["DateTime"].dt.date
df["Time"] = df["DateTime"].dt.time
# keep only useful columns and add a column indicate weather the close value is acctual or
df = df[["Date","Time", "Close"]]
df["Real"] = True
# get the date closing price then sort and reset index
df = df.groupby("Date").max("Time")
df = df.reset_index()
df = df.sort_values(by="Date")
df = df.reset_index(drop=True)
# process dataframe from nasdaq
df1 = df1.sort_values(by="Date")
df1 = df1.reset_index(drop=True)
df1 = df1[["Date", "Close/Last"]]
df1.columns = ["Date", "Close"]
df1["Date"] = df1["Date"].dt.date
df1["Real"] = True
# concat two dataset 
df_max_date = max(df["Date"])
df = pd.concat([df, df1.loc[df1["Date"]>df_max_date]])
# reset index again
df = df.reset_index(drop=True)
df.columns = ["date", "close", "real"]
df.to_csv("bitcoin.csv", index=False)

FileNotFoundError: [Errno 2] No such file or directory: '../data/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv'

In [3]:
df = pd.read_csv("../data/bitcoin.csv")
df.head()

         Date  Close  Real
0  2011-12-31   4.58  True
1  2012-01-01   5.00  True
2  2012-01-02   5.00  True
3  2012-01-03   5.32  True
4  2012-01-04   5.57  True

In [7]:
df = pd.read_csv("../data/bitcoin.csv", parse_dates=["Date"])

In [8]:
df.dtypes

Date     datetime64[ns]
Close           float64
Real               bool
dtype: object

In [9]:
df.columns = ["date", "close", "real"]

In [10]:
df

           date     close  real
0    2011-12-31      4.58  True
1    2012-01-01      5.00  True
2    2012-01-02      5.00  True
3    2012-01-03      5.32  True
4    2012-01-04      5.57  True
...         ...       ...   ...
3420 2021-05-15  47875.90  True
3421 2021-05-16  43493.40  True
3422 2021-05-17  44847.20  True
3423 2021-05-18  40569.00  True
3424 2021-05-19  38220.10  True

[3425 rows x 3 columns]

In [11]:
df.to_csv("../data/bitcoin.csv", index=False)