In [1]:
import pandas as pd
import numpy as np

In [2]:
# load data
df = pd.read_csv("../data/combine.csv")
df.head()

,Date,Close,ma_5,ma_10,ma_20,ma_30,ma_60,ma_90,ma_180,ma_240,...,Nasdaq_diff,SP500_diff,INDU_diff,Oil_diff,Btc_diffpct,Gold_diffpct,Nasdaq_diffpct,SP500_diffpct,INDU_diffpct,Oil_diffpct
0,2012-01-03,5.32,4.975,4.975000,4.975000,4.975000,4.975000,4.975000,4.975000,4.975000,...,0.00,0.00,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2012-01-04,5.57,5.094,5.094000,5.094000,5.094000,5.094000,5.094000,5.094000,5.094000,...,-0.36,0.24,21.04,0.8793,0.046992,0.014944,-0.000136,0.000188,0.001697,0.019997
2,2012-01-05,6.65,5.508,5.353333,5.353333,5.353333,5.353333,5.353333,5.353333,5.353333,...,21.50,3.76,-2.72,0.0000,0.193896,-0.004148,0.008118,0.002944,-0.000219,0.000000
3,2012-01-06,6.90,5.888,5.574286,5.574286,5.574286,5.574286,5.574286,5.574286,5.574286,...,4.36,-3.25,-55.78,0.0000,0.037594,-0.009996,0.001633,-0.002537,-0.004493,0.000000
4,2012-01-09,6.90,6.850,5.972000,5.972000,5.972000,5.972000,5.972000,5.972000,5.972000,...,2.34,2.89,32.77,0.0000,0.000000,0.003576,0.000875,0.002262,0.002651,0.000000

In [3]:
df = df[["Close"]]
days = 50

In [4]:
col_name = f"{days}_days"
df[col_name] = df[["Close"]].shift(-days)

In [5]:
df

         Close  50_days
0         5.32     5.43
1         5.57     5.41
2         6.65     5.37
3         6.90     4.97
4         6.90     4.96
...        ...      ...
2318  53215.89      NaN
2319  55099.23      NaN
2320  58309.35      NaN
2321  59371.86      NaN
2322  58778.18      NaN

[2323 rows x 2 columns]

In [6]:
df_source = df.dropna()
df_source.tail()

         Close   50_days
2268  36600.00  53215.89
2269  37754.68  55099.23
2270  40045.98  58309.35
2271  39671.20  59371.86
2272  37819.85  58778.18

In [7]:
X = np.array(df_source[["Close"]])

In [8]:
y = np.array(df_source[col_name])

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [10]:
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
model = SVR(kernel='rbf', C=1e3, gamma=0.00001)

In [11]:
model.fit(X_train, y_train)
param_grid = {'C': [1, 5, 10, 50, 1000],
              'gamma': [0.0001, 0.0005, 0.001, 0.005, 0.00001]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [12]:
grid.fit(X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END ..............................C=1, gamma=0.0001; total time=   0.2s
[CV 2/5] END ..............................C=1, gamma=0.0001; total time=   0.2s
[CV 3/5] END ..............................C=1, gamma=0.0001; total time=   0.2s
[CV 4/5] END ..............................C=1, gamma=0.0001; total time=   2.3s
[CV 5/5] END ..............................C=1, gamma=0.0001; total time=   0.2s
[CV 1/5] END ..............................C=1, gamma=0.0005; total time=   0.2s
[CV 2/5] END ..............................C=1, gamma=0.0005; total time=   0.2s
[CV 3/5] END ..............................C=1, gamma=0.0005; total time=   0.2s
[CV 4/5] END ..............................C=1, gamma=0.0005; total time=   0.2s
[CV 5/5] END ..............................C=1, gamma=0.0005; total time=   0.2s
[CV 1/5] END ...............................C=1, gamma=0.001; total time=   0.1s
[CV 2/5] END ...............................C=1, gamma=0.001; total time=   0.1s
[CV 3/5] END ...............................C=1, gamma=0.001; total time=   0.2s
[CV 4/5] END ...............................C=1, gamma=0.001; total time=   0.2s
[CV 5/5] END ...............................C=1, gamma=0.001; total time=   0.2s
[CV 1/5] END ...............................C=1, gamma=0.005; total time=   0.2s
[CV 2/5] END ...............................C=1, gamma=0.005; total time=   0.2s
[CV 3/5] END ...............................C=1, gamma=0.005; total time=   0.2s
[CV 4/5] END ...............................C=1, gamma=0.005; total time=   0.2s
[CV 5/5] END ...............................C=1, gamma=0.005; total time=   0.2s
[CV 1/5] END ...............................C=1, gamma=1e-05; total time=   0.1s
[CV 2/5] END ...............................C=1, gamma=1e-05; total time=   0.1s
[CV 3/5] END ...............................C=1, gamma=1e-05; total time=   0.1s
[CV 4/5] END ...............................C=1, gamma=1e-05; total time=   0.1s
[CV 5/5] END ...............................C=1, gamma=1e-05; total time=   0.1s
[CV 1/5] END ..............................C=5, gamma=0.0001; total time=   0.2s
[CV 2/5] END ..............................C=5, gamma=0.0001; total time=   0.2s
[CV 3/5] END ..............................C=5, gamma=0.0001; total time=   0.2s
[CV 4/5] END ..............................C=5, gamma=0.0001; total time=   0.2s
[CV 5/5] END ..............................C=5, gamma=0.0001; total time=   0.2s
[CV 1/5] END ..............................C=5, gamma=0.0005; total time=   0.2s
[CV 2/5] END ..............................C=5, gamma=0.0005; total time=   0.2s
[CV 3/5] END ..............................C=5, gamma=0.0005; total time=   0.2s
[CV 4/5] END ..............................C=5, gamma=0.0005; total time=   0.2s
[CV 5/5] END ..............................C=5, gamma=0.0005; total time=   0.2s
[CV 1/5] END ...............................C=5, gamma=0.001; total time=   0.2s
[CV 2/5] END ...............................C=5, gamma=0.001; total time=   0.2s
[CV 3/5] END ...............................C=5, gamma=0.001; total time=   0.2s
[CV 4/5] END ...............................C=5, gamma=0.001; total time=   0.2s
[CV 5/5] END ...............................C=5, gamma=0.001; total time=   0.2s
[CV 1/5] END ...............................C=5, gamma=0.005; total time=   0.2s
[CV 2/5] END ...............................C=5, gamma=0.005; total time=   0.2s
[CV 3/5] END ...............................C=5, gamma=0.005; total time=   0.2s
[CV 4/5] END ...............................C=5, gamma=0.005; total time=   0.2s
[CV 5/5] END ...............................C=5, gamma=0.005; total time=   0.2s
[CV 1/5] END ...............................C=5, gamma=1e-05; total time=   0.1s
[CV 2/5] END ...............................C=5, gamma=1e-05; total time=   0.1s
[CV 3/5] END ...............................C=5, gamma=1e-05; total time=   0.1s
[CV 4/5] END ...............................C=5, gamma=1e-05; total time=   0.1s
[CV 5/5] END ...............................C=5, gamma=1e-05; total time=   0.1s
[CV 1/5] END .............................C=10, gamma=0.0001; total time=   0.2s
[CV 2/5] END .............................C=10, gamma=0.0001; total time=   0.2s
[CV 3/5] END .............................C=10, gamma=0.0001; total time=   0.1s
[CV 4/5] END .............................C=10, gamma=0.0001; total time=   0.1s
[CV 5/5] END .............................C=10, gamma=0.0001; total time=   0.1s
[CV 1/5] END .............................C=10, gamma=0.0005; total time=   0.2s
[CV 2/5] END .............................C=10, gamma=0.0005; total time=   0.2s
[CV 3/5] END .............................C=10, gamma=0.0005; total time=   0.2s
[CV 4/5] END .............................C=10, gamma=0.0005; total time=   0.2s
[CV 5/5] END .............................C=10, gamma=0.0005; total time=   0.2s
[CV 1/5] END ..............................C=10, gamma=0.001; total time=   0.2s
[CV 2/5] END ..............................C=10, gamma=0.001; total time=   0.2s
[CV 3/5] END ..............................C=10, gamma=0.001; total time=   0.2s
[CV 4/5] END ..............................C=10, gamma=0.001; total time=   0.2s
[CV 5/5] END ..............................C=10, gamma=0.001; total time=   0.2s
[CV 1/5] END ..............................C=10, gamma=0.005; total time=   0.2s
[CV 2/5] END ..............................C=10, gamma=0.005; total time=   0.2s
[CV 3/5] END ..............................C=10, gamma=0.005; total time=   0.2s
[CV 4/5] END ..............................C=10, gamma=0.005; total time=   0.2s
[CV 5/5] END ..............................C=10, gamma=0.005; total time=   0.2s
[CV 1/5] END ..............................C=10, gamma=1e-05; total time=   0.1s
[CV 2/5] END ..............................C=10, gamma=1e-05; total time=   0.2s
[CV 3/5] END ..............................C=10, gamma=1e-05; total time=   0.1s
[CV 4/5] END ..............................C=10, gamma=1e-05; total time=   0.1s
[CV 5/5] END ..............................C=10, gamma=1e-05; total time=   0.1s
[CV 1/5] END .............................C=50, gamma=0.0001; total time=   0.2s
[CV 2/5] END .............................C=50, gamma=0.0001; total time=   0.1s
[CV 3/5] END .............................C=50, gamma=0.0001; total time=   0.1s
[CV 4/5] END .............................C=50, gamma=0.0001; total time=   0.2s
[CV 5/5] END .............................C=50, gamma=0.0001; total time=   0.1s
[CV 1/5] END .............................C=50, gamma=0.0005; total time=   0.2s
[CV 2/5] END .............................C=50, gamma=0.0005; total time=   0.2s
[CV 3/5] END .............................C=50, gamma=0.0005; total time=   0.2s
[CV 4/5] END .............................C=50, gamma=0.0005; total time=   0.2s
[CV 5/5] END .............................C=50, gamma=0.0005; total time=   0.2s
[CV 1/5] END ..............................C=50, gamma=0.001; total time=   0.2s
[CV 2/5] END ..............................C=50, gamma=0.001; total time=   0.2s
[CV 3/5] END ..............................C=50, gamma=0.001; total time=   0.2s
[CV 4/5] END ..............................C=50, gamma=0.001; total time=   0.2s
[CV 5/5] END ..............................C=50, gamma=0.001; total time=   0.2s
[CV 1/5] END ..............................C=50, gamma=0.005; total time=   0.2s
[CV 2/5] END ..............................C=50, gamma=0.005; total time=   0.2s
[CV 3/5] END ..............................C=50, gamma=0.005; total time=   0.2s
[CV 4/5] END ..............................C=50, gamma=0.005; total time=   0.2s
[CV 5/5] END ..............................C=50, gamma=0.005; total time=   0.2s
[CV 1/5] END ..............................C=50, gamma=1e-05; total time=   0.1s
[CV 2/5] END ..............................C=50, gamma=1e-05; total time=   0.2s
[CV 3/5] END ..............................C=50, gamma=1e-05; total time=   0.2s
[CV 4/5] END ..............................C=50, gamma=1e-05; total time=   0.1s
[CV 5/5] END ..............................C=50, gamma=1e-05; total time=   0.1s
[CV 1/5] END ...........................C=1000, gamma=0.0001; total time=   0.2s

[CV 2/5] END ...........................C=1000, gamma=0.0001; total time=   0.2s
[CV 3/5] END ...........................C=1000, gamma=0.0001; total time=   0.2s
[CV 4/5] END ...........................C=1000, gamma=0.0001; total time=   0.2s
[CV 5/5] END ...........................C=1000, gamma=0.0001; total time=   0.2s
[CV 1/5] END ...........................C=1000, gamma=0.0005; total time=   0.2s
[CV 2/5] END ...........................C=1000, gamma=0.0005; total time=   0.2s
[CV 3/5] END ...........................C=1000, gamma=0.0005; total time=   0.2s
[CV 4/5] END ...........................C=1000, gamma=0.0005; total time=   0.2s
[CV 5/5] END ...........................C=1000, gamma=0.0005; total time=   0.2s
[CV 1/5] END ............................C=1000, gamma=0.001; total time=   0.2s
[CV 2/5] END ............................C=1000, gamma=0.001; total time=   0.2s
[CV 3/5] END ............................C=1000, gamma=0.001; total time=   0.2s
[CV 4/5] END ............................C=1000, gamma=0.001; total time=   0.3s
[CV 5/5] END ............................C=1000, gamma=0.001; total time=   0.2s
[CV 1/5] END ............................C=1000, gamma=0.005; total time=   0.3s
[CV 2/5] END ............................C=1000, gamma=0.005; total time=   0.2s
[CV 3/5] END ............................C=1000, gamma=0.005; total time=   0.2s
[CV 4/5] END ............................C=1000, gamma=0.005; total time=   0.2s
[CV 5/5] END ............................C=1000, gamma=0.005; total time=   0.2s
[CV 1/5] END ............................C=1000, gamma=1e-05; total time=   0.1s
[CV 2/5] END ............................C=1000, gamma=1e-05; total time=   0.1s
[CV 3/5] END ............................C=1000, gamma=1e-05; total time=   0.1s
[CV 4/5] END ............................C=1000, gamma=1e-05; total time=   0.1s
[CV 5/5] END ............................C=1000, gamma=1e-05; total time=   0.1s

GridSearchCV(estimator=SVR(C=1000.0, gamma=1e-05),
             param_grid={'C': [1, 5, 10, 50, 1000],
                         'gamma': [0.0001, 0.0005, 0.001, 0.005, 1e-05]},
             verbose=3)

In [13]:
print(grid.best_params_)
print(grid.best_score_)

{'C': 1000, 'gamma': 1e-05}
0.4153446706420219

In [14]:
grid.score(X_test, y_test)

0.4756718236578209